---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.image }}" loading="eager" sizes="{{ sizes }}">
          {% endif %}
          <div class="profile-text">
  {% if profile.name %}
    <h3>{{ profile.name }}</h3>
  {% endif %}
  {% if profile.role %}
    <p><strong>{{ profile.role }}</strong></p>
  {% endif %}
  {% if profile.website %}
    <p>{{ profile.website }}</p>
  {% endif %}
  {% if profile.more_info %}
    <div class="more-info">{{ profile.more_info }}</div>
  {% endif %}
</div>

        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
